.container-results-pointers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.container-results-pointers > div {
  flex: 1;
  margin-right: 12px;
}

.container-results-pointers > div:last-child {
  margin-right: 0;
}

.container-results-google {
  height: auto;
  border-width: 4px;
  border-color: #0a53be;
}

.container-pointers {
  height: auto;
}

.url-container {
  display: flex;
}

.url, .buttons {
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid black;
}
